doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="../css/styles.css")
    body 
        header 
            nav(class = "navbar")
                a(href = "/search", class = "nav__branding") THE MOVIES APP 
                ul(class = "nav__menu")
                    li(class = "nav__item")
                        p(href = "#Cerrar sesión", class = "nav__link", onclick="logOut()")
                            i(class = "bx bx-log-out") Cerrar Sesión
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
main
    section.films__section
        p(id="add-button", onclick="goToAddMovie()") Add a movie
        if movies 
            each movie in movies
                div.film__container
                    img.film__img(src=`${movie.imagen}` || null)
                    div.film__texts
                        h3 Titulo: #{movie.titulo}
                        p Year: #{movie.year}
                        p Director: #{movie.director}
                        p Genre: #{movie.genero}
                        p Duration: #{movie.duracion}
                    div.film__buttons
                        button.edit-button(type="button" id=`${movie.titulo}` onclick="toEditMovie(event)") Edit
                        button.remove-button(type="button" id=`${movie.titulo}` onclick="toDeleteMovie(event)") Delete

script(src='/js/admin_movies.js')
script(src="/js/burger.js")