doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="../css/styles.css")
    body 
        header 
            nav(class = "navbar")
                a(class = "nav__branding") THE MOVIES APP 
                ul(class = "nav__menu" id = "nav__menu__admin")
                    li(class = "nav__item" id = "nav__item")
                        p(href = "#Cerrar sesión", class = "nav__link" onclick="logOut()")  Cerrar Sesión
                            i(class = "bx bx-log-out")
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
main
    p(id="add-button", onclick="goToAddMovie()") Add a movie!
        i(class='bx bx-add-to-queue')
    if movies 
        each movie in movies
            div 
                h2 Titulo: #{movie.titulo}
                img(src=`${movie.imagen}` || null)
                p Year: #{movie.year}
                p Director: #{movie.director}
                p Genre: #{movie.genero}
                p Duration: #{movie.duracion}
                img(src="#{movie.imagen}")
                button.edit-button(type="button" id=`${movie.titulo}` onclick="toEditMovie(event)") Edit
                button.remove-button(type="button" id=`${movie.titulo}` onclick="toDeleteMovie(event)") Delete
script(src='/js/admin_movies.js')
script(src="/js/burger.js")