doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header 
            include ./nav.pug

        main
            if success 
                p #{success.message}

            if movie
                form(action=`/editMovie/${movie.titulo}` method="POST") 
                    label(for="titulo") Title:
                    input(type="text" value=`${movie.titulo}` name="titulo")
                    
                    label(for="year") Year:
                    input(type="number" value=`${movie.year}` name="year")
                    
                    label(for="director") Director: 
                    input(type="text" value=`${movie.director}` name="director")
                    
                    label(for="genero") Genre:
                    input(type="text" value=`${movie.genero}` name="genero")
                    
                    label(for="duracion") Duration: 
                    input(type="text" value=`${movie.duracion}` name="duracion")    
                    
                    label(for="imagen") Image:
                    input(type="text", value=`${movie.imagen}` name="imagen")

                    input(type="submit" value="Save")


        script(src='./js/edit_movie.js')