doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header
            include nav.pug
        main 
            h1 Favourites movies

            if movies 
                each movie in movies
                    div.film__container
                        p.film__title #{movie.Title}
                        img.film__img(src=`${movie.Poster}`)
                        p.film__year #{movie.Year}
                        p.film__director #{movie.Director}
                        p.film__genre #{movie.Genre}
                        p.film__runtime #{movie.Runtime}
                        input(class = "input__show", id = `${movie.Title}`,type="button" value="Show details", name="showFilm" onclick="goToMovie(event)")
                        input.input__delete(type="button", id=`${movie.imdbID}` onclick="removeFromFav(event)" value="Saved")
                        
        script(src="/js/favourites.js")