doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        button(class="nuevaPeli") Crear nueva película
        button(class="editarPeliculas") Editar peliculas
        if(movieList)
            div
                ul
                    each val in movieList
                        li
                            h2 Titulo: #{val.titulo}
                            p Año: #{val.year}
                            p Director: #{val.director}
                            p Genero: #{val.genero}
                            p Duración: #{val.duracion}
                            img(src="#{val.imagen}")
        script(src="./js/edit_movies.js") 