doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        if lista
            div
                ul
                    each val in lista
                        li
                            h2 Titulo: #{val.titulo}
                            p Año: #{val.year}
                            p Director: #{val.director}
                            p Genero: #{val.genero}
                            p Duración: #{val.duracion}
                            img(src="#{val.imagen}")
                            button Eliminar

        if movie
            h1 ¿Estás seguro que deseas eliminar esta pelicula?
            form(action=`${movie.titulo}` method="POST") 
                h2 Titulo: #{movie.titulo}
                p Año: #{movie.year}
                p Director: #{movie.director}
                p Genero: #{movie.genero}
                p Duracion: #{movie.duracion}
                p Imagen: #{movie.imagen}

                input(type="submit" value="Eliminar")
            script(src='./js/main.js')