doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Film Browser 
    body
        header 
            h1 Header

            button(type="button" id="logOutBtn" onclick="logOut()") Log Out
        main
            section
                form(action="/search", method="POST")
                    input(type="text", name="filmBrowser", placeholder="Busca tu película", required)
                    input(type="submit", value="Search")

            section.films__section
                    if response 
                        each film in response 
                            div.film__container
                                p.film__title #{film.Title}
                                img.film__img(src=`${film.Poster}`)
                                p.film__year #{film.Year}
                                p.film__director #{film.Director}
                                p.film__genre #{film.Genre}
                                p.film__runtime #{film.Runtime}
                                input(class = "input__show", id = `${film.Title}`,type="button", value="Show details", name="showFilm")
                                if favourites.includes(film.imdbID)
                                    input.input__delete(type="button", id=`${film.imdbID}` value="Saved")
                                else
                                    input.input__save(type="button", id=`${film.imdbID}` value="Save as favourite<3")

                    if favourites 
                        each fav in favourites 
                            p #{fav}

        script(src="/js/searchView.js")