include nav.pug
main
    section
        form(action="/search", method="POST")
            input(type="text", name="filmBrowser", placeholder="Busca tu película", required)
            input(type="submit", value="Search")

    section.films__section
            if response 
                each film in response 
                    div.film__container
                        p.film__title #{film.Title}
                        img.film__img(src=`${film.Poster}`)
                        p.film__year #{film.Year}
                        p.film__director #{film.Director}
                        p.film__genre #{film.Genre}
                        p.film__runtime #{film.Runtime}
                        input(class = "input__show", id = `${film.Title}`,type="button", value="Show details", name="showFilm" onclick="goToMovie(event)")
                        if !favourites
                            input.input__save(type="button", id=`${film.imdbID}` onclick="saveFav(event)" value="Save as favourite<3")
                        else
                            input.input__delete(type="button", id=`${film.imdbID}` onclick="removeFromFav(event)" value="Saved")
                                    
script(src="/js/searchView.js")