doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://kit.fontawesome.com/61b8757a12.js" crossorigin="anonymous")
        link(rel="stylesheet", href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css")
        link(rel="stylesheet", href="../css/styles.css")
    body 
        header 
            nav(class = "navbar")
                a(href = "", class = "nav__branding") THE MOVIES APP 
                ul(class = "nav__menu")
                    li(class = "nav__item")
                        a(href = "/search", class = "nav__link")
                            i(class = 'bx bx-search') Movie browser
                    li(class = "nav__item")
                        a(href = "/movies", class = "nav__link")
                            i(class = 'bx bx-heart') Your movies 
                    li(class = "nav__item")
                        p(href = "#Cerrar sesión", class = "nav__link", onclick="logOut()")
                            i(class = "bx bx-log-out") Cerrar Sesión
                div(class = "hamburguer")
                    span.bar 
                    span.bar 
                    span.bar
        main
            div.film__detail__container
                img(src=`${response.Poster || response[0].imagen}`)
                div.film__detail__texts
                    h2#movie-title Title: #{response.Title || response[0].titulo}
                    p Year: #{response.Year || response[0].year}
                    p Director: #{response.Director ||response[0].director}
                div.film__detail__buttons
                    if !favourites
                        i(class="fa-solid fa-thumbs-up" id=`${response.imdbID || response._id}` onclick="saveFav(event)")
                    if favourites.includes(response.imdbID)
                        i(class="fa-solid fa-thumbs-up fav" id=`${response.imdbID || response._id}` onclick="removeFromFav(event)")
                    else
                        i(class="fa-solid fa-thumbs-up" id=`${response.imdbID || response._id}` onclick="saveFav(event)")

                div.film__detail__info
                    p Genre: #{response.Genre || response[0].genero}
                    p Runtime: #{response.Runtime || response[0].duracion} 
                    p Cast: #{response.Actors}
                    p Plot: #{response.Plot}
           
                    p Rating:
                        each rating in ratings
                            div
                                p Source: #{rating.Source}
                                p Value: #{rating.Value}
                div.film__detail__reviews
                    p Viewers reviews: 


script(src="/js/burger.js")
script(src="/js/selected_film.js")