doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
    body 
        header
            h1 Your Film 

            button(type="button" id="goBackBtn" onclick="goBack()") Go Back
            button(type="button" id="logOutBtn" onclick="logOut()") Log Out
        main
            p#movie-title Title: #{response.Title}
            if favourites.includes(response.imdbID)
                input.input__delete(type="button", id=`${response.imdbID}` onclick="removeFromFav(event)" value="Saved")
            else
                input.input__save(type="button", id=`${response.imdbID}` onclick="saveFav(event)" value="Save as favourites")
            img(src=`${response.Poster}`)
            p Year: #{response.Year}
            p Director: #{response.Director}
            p Genre: #{response.Genre}
            p Runtime: #{response.Runtime}
            p Plot: #{response.Plot}
            p Cast: #{response.Actors}
            p Rating:
                each rating in ratings
                    div
                        p Source: #{rating.Source}
                        p Value: #{rating.Value}
            p Viewers reviews: 



        script(src="/js/selected_film.js")